name: AASM Pull Request Build

on:
  pull_request:
    types:
      - opened
      - synchronize

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        build:
          - name: Ark-Ascended-Server-Manager.exe
            platform: windows/amd64
            os: windows-latest
    runs-on: ${{ matrix.build.os }}
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Set direct proxy
        run: go env -w GOPROXY=direct
      - run: go install github.com/wailsapp/wails/cmd/wails@latest
      - name: Update wails.json
        run: node build/updateConfig.js 999.999.999 false 
      - uses: dAppServer/wails-build-action@v2.2
        with:
          build-name: ${{ matrix.build.name }}
          build-platform: ${{ matrix.build.platform }}
          build: true
          nsis: true
          package: false
      - name: Upload artifacts
        uses: actions/upload-artifact@v2
        with:
          name: AASM Artifacts
          path: build/bin/*.exe